/* buttons.module.css */
.btn {
	/* box */
	width: 10rem;
	height: 3rem;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	/* typography */
	font-size: var(--btn-font-size);
	font-weight: 700;
	letter-spacing: 0.0625rem;
	text-transform: uppercase;
	transition: 150ms ease-in;
}

.btn--primary {
	background-color: var(--btn-1);
	color: var(--white);
}

.btn--primary:hover,
.btn--primary:active {
	background-color: var(--btn-1-hover);
}

.btn--dark-outline {
	outline: 1px solid var(--neutral-black);
	color: var(--black);
}

.btn--dark-outline:hover,
.btn--dark-outline:active {
	background-color: var(--black);
	color: var(--white);
}

.btn--dark {
	background-color: var(--black);
	color: var(--white);
}

.btn--dark:hover,
.btn--dark:active {
	background-color: #4c4c4c;
	color: var(--white);
}

.btn--link {
	font-weight: 700;
	letter-spacing: 0.0625rem;
	text-transform: uppercase;
	transition: 150ms ease-in;
	color: var(--black);
	opacity: 0.5;
	cursor: pointer;
}

.btn--link:hover,
.btn--link:active {
	color: var(--primary);
}
