@keyframes fadeIn {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}

.confirmOrderDialog {
	width: 33.75rem;
	border-radius: 0.5rem;
	border: 0;
	padding: 3rem;
	overflow: hidden;
	animation: fadeIn 200ms ease-in;
}

.confirmOrderDialog > img {
	margin-bottom: 2rem;
}

.confirmOrderDialog > p {
	padding-top: 2rem;
	padding-bottom: 1.5rem;
}

.confirmOrderDialog::backdrop {
	background-color: rgba(0, 0, 0, 0.6);
}

.orderDetails {
	display: flex;
	width: 12.375rem;
	height: 8.75rem;
	justify-content: space-between;
	width: 100%;
	border-radius: 0.5rem;
	background-color: var(--grey);
	margin-bottom: 2.9rem;
	overflow: hidden;
}

.orderDetails > {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.orderDetails > .grandTotal {
	background-color: var(--black);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	padding: 2rem 4rem 2rem 2rem;
}

.orderDetails > .grandTotal p,
.orderItem > .shownOrder > div p {
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}

.orderDetails > .grandTotal p:first-child {
	font-size: 0.9375rem;
	font-weight: 500;
	opacity: 0.5;
	margin-bottom: 0.5rem;
}

.orderDetails > .grandTotal p:last-child {
	font-size: 1.125rem;
	font-weight: 700;
}

.orderItem {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.orderItem > .shownOrder {
	display: flex;
	justify-content: space-between;
	width: 12.375rem;
	align-items: start;
}

.orderItem > .shownOrder > .orderDesc p:first-child {
	text-transform: uppercase;
	font-weight: 700;
}
.orderItem > .shownOrder > .orderDesc p:last-child {
	font-size: 0.875rem;
	font-weight: 700;
	opacity: 0.5;
}

.orderItem > .shownOrder > .price {
	color: #000;
	text-align: right;
	font-family: Manrope;
	font-size: 0.9375rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.5625rem;
	opacity: 0.5;
}

.restOfTheItems {
	padding-top: 0.75rem;
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	letter-spacing: -0.01338rem;
	opacity: 0.5;
}

@media screen and (max-width: 520px) {
	.confirmOrderDialog {
		padding: 2rem;
	}

	.confirmOrderDialog > img {
		margin-bottom: 1.5rem;
	}

	.confirmOrderDialog > p {
		padding-top: 1rem;
	}

	.orderDetails {
		flex-direction: column;
		height: auto;
		width: 100%;
		margin-bottom: 1.5rem;
	}

	.orderItem {
		padding: 1.5rem 0;
	}
}
