/* Form Control */

@keyframes vibrate {
	0% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(1px, 1px);
	}
	20% {
		transform: translate(-1px, -1px);
	}
	30% {
		transform: translate(1px, -1px);
	}
	40% {
		transform: translate(-1px, 1px);
	}
	50% {
		transform: translate(1px, 1px);
	}
	60% {
		transform: translate(-1px, -1px);
	}
	70% {
		transform: translate(1px, -1px);
	}
	80% {
		transform: translate(-1px, 1px);
	}
	90% {
		transform: translate(1px, 1px);
	}
	100% {
		transform: translate(0, 0);
	}
}

.form {
	outline: 0;
	border: 0;
	height: 3.5rem;
	flex-shrink: 0;
	border-radius: 0.5rem;
	border: 1px solid var(--form-outline);
	background: var(--white);
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: -0.01563rem;
	caret-color: var(--primary);
	padding: 0 1.5rem;
	transition: 00ms ease-in;
}

.form:focus,
.form.checked,
.form:hover {
	border-radius: 0.5rem;
	outline: 1px solid var(--primary);
	border: 0;
	background: var(--white);
}

.form.error {
	border-radius: 0.5rem;
	border: 1px solid var(--error);
	background: var(--white);
}

.form::placeholder {
	color: var(--black);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.01563rem;
	opacity: 0.4;
}

/* Radio components */

.radioContainer {
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
}

.radioContainer span {
	cursor: pointer;
}

.radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 0.625rem;
	height: 0.625rem;
	flex-shrink: 0;
	position: relative;
	border: 1px solid #cfcfcf;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

.radio:checked {
	border-color: var(--primary);
	background-color: var(--primary);
}

.radio::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '';
	display: inline-block;
	width: 1.15rem;
	height: 1.15rem;
	border-radius: 50%;
	margin-right: 0.5rem;
	outline: 1px #cfcfcf solid;
}

.label {
	display: flex;
	align-items: center;
	justify-content: start;
	color: black;
	font-size: 0.75rem;
	font-weight: 700;
	letter-spacing: -0.01338rem;
	cursor: pointer;
}

.label.error {
	color: red;
}

.error {
	animation: 0.5s vibrate ease-in;
}

.counter {
	width: 7.5rem;
	height: 3rem;
	flex-shrink: 0;
	background: var(--grey);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0 1.25rem;
}

.increment,
.decrement {
	color: var(--black);
	opacity: 0.25;
	cursor: pointer;
	font-size: 0.8125rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.0625rem;
}

.increment:hover,
.decrement:hover {
	color: var(--primary);
	opacity: 1;
}

.counter > .value {
	color: var(--black);
	font-size: 0.8125rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.0625rem;
}
