.form {
	width: 19.3125rem;
	height: 3.5rem;
	flex-shrink: 0;
	border-radius: 0.5rem;
	border: 1px solid var(--form-outline);
	background: var(--white);
	text-indent: 1.5rem;
	transition: 150ms ease-in;
}

.form:focus {
	border-radius: 0.5rem;
	border: 1px solid var(--primary);
	background: var(--white);
}

.form.error {
	border-radius: 0.5rem;
	border: 2px solid var(--error);
	background: var(--white);
}

.form::placeholder {
	color: var(--black);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.01563rem;
	opacity: 0.4;
}

.radio {
	width: 19.3125rem;
	height: 3.5rem;
	flex-shrink: 0;
}
