@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
	/* colors */
	--primary: hsl(22, 65%, 57%);
	--secondary: hsl(21, 94%, 75%);
	--white: hsl(0, 0%, 100%);
	--light-grey: hsl(0, 0%, 98%);
	--grey: hsl(0, 0%, 95%);
	--neutral-black: hsl(0, 0%, 6%);
	--black: hsl(0, 0%, 0%);
	--error: hsl(0, 65%, 49%);
	--form-outline: hsl(0, 0%, 81%);

	/* typography */
	--font-family: 'Manrope', normal;
	--font-size: 15px;
	--line-height: 25px;

	/* button */
	--btn-1: var(--primary);
	--btn-1-hover: var(--secondary);
	--btn-2: var(--light-grey);
	--btn-2-hover: var(--black);
	--btn-font-size: 0.8125rem;
	--standard-width: clamp(20.4375rem, 95%, 69.375rem);

	font-family: var(--font-family);
	font-size: var(--font-size);
	line-height: var(--line-height);
}

* {
	/* css resets */
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	background: var(--white);
}

a {
	text-decoration: none;
}

.text--h1 {
	font-size: clamp(40px, 5vw, 56px);
	line-height: 56px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.text--h2 {
	font-size: 40px;
	line-height: 44px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

.text--h3 {
	font-size: 32px;
	line-height: 36px;
	letter-spacing: 1.15px;
	text-transform: uppercase;
}

.text--h4 {
	font-size: 28px;
	line-height: 38px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.text--h5 {
	font-size: 24px;
	line-height: 33px;
	letter-spacing: 1.7px;
	text-transform: uppercase;
}

.text--h6 {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

.overline {
	letter-spacing: 10px;
	font-size: 14px;
	text-transform: uppercase;
}

.text-white {
	color: var(--white) !important;
}

.text-balance {
	text-wrap: balance !important;
}

.d-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.standout {
	color: var(--primary);
}

.font-weight-700 {
	font-weight: 700;
}
