@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.5;
	}
}

.nav {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2.25rem 10.5rem;
}

.nav::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px var(--white) solid;
	width: 85%;
	content: '';
	opacity: 0.2;
}

.navLink {
	display: flex;
	gap: 0 2.15rem;
	position: relative;
	right: 4rem;
}

.navLink a {
	color: var(--white);
	font-size: var(--btn-font-size);
	font-style: normal;
	font-weight: 700;
	line-height: 1.5625rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
	text-decoration: none;
	transition: 150ms ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burgerMenu {
	display: none;
	cursor: pointer;
}

.burgerIcon {
	margin-right: 2.7rem;
}

/* hover states */
.navLink a:hover {
	color: var(--primary);
}

.checkout {
	position: relative;
}

.checkout .quantityTotal {
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	right: -30%;
	bottom: 0;
	background-color: white;
	font-size: 0.7rem;
	height: 1rem;
	aspect-ratio: 1 / 1;
	font-weight: 700;
	border-radius: 50%;
}

.checkout {
	cursor: pointer;
}

.cartModal {
	position: absolute;
	top: 225%;
	height: 100px;
	content: '';
	width: 100%;
	background-color: white;
}

.overlay {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	top: 6.6rem;
	z-index: 100;
	animation: 100ms fadeIn ease-in;
}

.modal {
	width: 23.5625rem;
	height: auto;
	border-radius: 0.5rem;
	background: var(--white);
	z-index: 100;
	opacity: 1;
	position: relative;
	margin-left: auto;
	right: 9%;
	top: 2rem;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem 0;
}

.modal > .totalSection {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal:focus {
	outline: none;
	border: none;
}

.modal .cartHeader {
	display: flex;
	justify-content: space-between;
}

.modal .cartHeader div {
	cursor: pointer;
}

.modal .cartHeader div:hover {
	color: var(--primary);
	text-decoration: underline;
}

.modal .order {
	display: flex;
	text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
	.navLink {
		display: none;
	}

	.burgerMenu {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.nav {
		padding: 2.25rem;
	}

	.nav::before {
		width: 100%;
	}
}
