.nav {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 2.25rem 10.5rem;
}

.nav::before {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: 1px var(--white) solid;
	width: 85%;
	content: '';
	opacity: 0.2;
}

.navLink {
	display: flex;
	gap: 0 2.15rem;
}

.navLink a {
	color: var(--white);
	font-size: var(--btn-font-size);
	font-style: normal;
	font-weight: 700;
	line-height: 1.5625rem;
	letter-spacing: 0.125rem;
	text-transform: uppercase;
	text-decoration: none;
	transition: 150ms ease-in;
}

.burgerMenu {
	display: none;
	cursor: pointer;
}

/* hover states */
.navLink a:hover {
	color: var(--primary);
}

.checkout {
	position: relative;
}

.checkout .quantityTotal {
	justify-content: center;
	align-items: center;
	display: flex;
	position: absolute;
	right: -30%;
	bottom: 0;
	background-color: white;
	font-size: 0.7rem;
	height: 1rem;
	aspect-ratio: 1 / 1;
	font-weight: 700;
	border-radius: 50%;
}

.checkout {
	cursor: pointer;
}

.cartModal {
	position: absolute;
	top: 225%;
	height: 100px;
	content: '';
	width: 100%;
	background-color: white;
}

@media screen and (max-width: 1024px) {
	.navLink {
		display: none;
	}

	.burgerMenu {
		display: block;
	}
}

@media screen and (max-width: 767px) {
	.nav {
		padding: 2.25rem;
	}

	.nav::before {
		width: 100%;
	}
}
