.productPage {
	padding-top: 100px;
}

.productContainer,
.product,
.addToCart,
.inTheBox {
	display: flex;
}

.productContainer {
	flex-direction: column;
}

.productContainer > article {
	width: var(--standard-width);
}

.product {
	justify-content: space-between;
	padding-bottom: 10rem;
	gap: 0 4.5rem;
}

.productDesc {
	width: clamp(25rem, 95%, 33.75rem);
}

.imgContainer {
	width: clamp(20rem, 95%, 33.75rem);
}

.imgContainer img {
	border-radius: 0.5rem;
}

.productDesc {
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 1rem 0;
	width: clamp(20rem, 95%, 27.8rem);
}

.productDesc .desc {
	opacity: 0.5;
	font-style: normal;
	font-weight: 500;
	font-size: 0.9375rem;
	line-height: 1.5625rem;
}

.productContainer {
	justify-content: center;
	align-items: center;
}

.addToCart {
	gap: 0 1rem;
}

.goBack {
	font-size: 0.9375rem;
	opacity: 0.5;
	line-height: 1.5625rem;
	width: var(--standard-width);
	padding: 5rem 0 3.5rem 0;
}

.price {
	font-size: 1.125rem;
	font-weight: 700;
	padding: 1rem 0 2rem 0;
}

.title {
	padding-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	line-height: normal;
}

.goBack span:hover,
.goBack span:active {
	text-decoration: underline;
	cursor: pointer;
}

.productDetails {
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: 0 7rem;
}

.productDetails h3 {
	margin-bottom: 2rem;
}

.productDetails li {
	list-style-type: none;
}

.productDetails p {
	font-size: 0.9375rem;
	font-weight: 500;
	opacity: 0.5;
	line-height: 1.5625rem;
}

.inTheBox .quantity {
	color: var(--primary);
	font-weight: 700;
	margin-right: 1.5rem;
}

.inTheBox .item {
	color: black;
	opacity: 0.5;
	font-weight: 500;
	line-height: 1.5625rem;
}

.inTheBox {
	display: flex;
	flex-direction: column;
}

.showcaseGallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 2rem;
	margin: 10rem 0;
}

.showcaseImg {
	width: 100%;
	border-radius: 0.5rem;
}

.showcaseGallery > .showcaseImg:nth-child(1),
.showcaseGallery > .showcaseImg:nth-child(2),
.showcaseGallery > .showcaseImg:nth-child(3) {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.showcaseGallery > .showcaseImg:nth-child(1) {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	width: 100%;
	height: 17.5rem;
}

.showcaseGallery > .showcaseImg:nth-child(2) {
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	width: 100%;
	height: 17.5rem;
}

.showcaseGallery > .showcaseImg:nth-child(3) {
	grid-row: 1 / 3;
	grid-column: 2 / 3;
	width: 100%;
	height: 37rem;
}

.recommendations {
	display: flex;
	flex-direction: column;
}

.recommendations h3 {
	text-align: center;
	margin-bottom: 4rem;
}

.recommendedProducts {
	display: flex;
	gap: 2rem;
}

.productRecommendation {
	display: flex;
	flex-direction: column;
	gap: 2.5rem 0;
	align-items: center;
}

.productRecommendation div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.productRecommendation div img {
	width: clamp(15rem, 95%, 21.875rem);
	border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
	.imgContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--grey);
	}

	.imgContainer img {
		width: 100%;
	}

	.price {
		padding: 2rem 0;
	}

	.goBack {
		padding: 2rem 0;
	}
}

@media screen and (max-width: 767px) {
	.product {
		gap: 0 2rem;
	}

	.showcaseGallery {
		gap: 1rem;
	}

	.showcaseGallery > .showcaseImg:nth-child(3) {
		height: 23rem;
	}

	.showcaseGallery > .showcaseImg:nth-child(1),
	.showcaseGallery > .showcaseImg:nth-child(2) {
		height: 10.875rem;
	}

	.title {	
		font-size: 1.75rem;
	}

	.productDetails {
		grid-template-columns: auto;
		grid-template-rows: auto;
	}

	.productDetails > .features p {
		text-align: left;
	}

	.inTheBox {
		margin-top: 7.5rem;
		flex-direction: row;
		justify-content: space-between;
	}

	.inTheBox > * {
		flex: 1;
	}

	.showcaseGallery {
		margin: 5rem 0;
	}

	.recommendedProducts {
		flex-direction: column;
		gap: 3.5rem 0;
	}

	.productRecommendation > div:first-child {
		background-color: var(--grey);
		border-radius: 0.5rem;
		width: 100%;
	}

	.productRecommendation > div:first-child img {
		width: 16rem;
	}

}

@media screen and (max-width: 620px) {
	.product {
		flex-direction: column;
		align-items: center;
	}

	.imgContainer {
		margin-bottom: 2rem;
	}

	.goBack {
		padding: 1rem 0;
	}

	.price {
		padding: 1rem 0;
	}

	.productDetails p {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.showcaseGallery {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.showcaseGallery > .showcaseImg:nth-child(1),
	.showcaseGallery > .showcaseImg:nth-child(2),
	.showcaseGallery > .showcaseImg:nth-child(3) {
		grid-area: auto;
	}

	.inTheBox {
		margin-top: 5.5rem;
		flex-direction: column;
		justify-content: space-between;
	}
}
