.reviewContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.review {
	width: clamp(20.4375rem, 95%, 69.375rem);
	display: flex;
	justify-content: space-between;
	margin-bottom: 12rem;
}

.imgContainer {
	width: 50%;
	height: 36.75rem;
	border-radius: 0.5rem;
	background-image: url(../assets/shared/desktop/image-best-gear.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.bestGearDesc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem 0;
   width: 50%;
}
.title {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
	line-height: normal;
	letter-spacing: 0.08931rem;
	text-transform: uppercase;
}

.bestGearDesc > div {
	width: clamp(20rem, 95%, 27.8rem);
}

.bestGearDesc p {
	color: var(--black);
	font-size: 0.9375rem;
	font-weight: 500;
	line-height: 1.5625rem;
	opacity: 0.5;
	width: clamp(20rem, 95%, 27.8rem);
}

@media screen and (max-width: 1024px) {
	.title {
		width: 10rem;
	}
	.review {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.imgContainer {
		order: 0;
		width: 100%;
		height: 20rem;
		aspect-ratio: 1 / 1;
		background-image: url(../assets/shared/tablet/image-best-gear.jpg);
		margin-bottom: 4rem;
	}

	.bestGearDesc {
		order: 1;
	}

	.bestGearDesc > div,
	.bestGearDesc > p {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: 1.75rem;
	}
}
