.container {
	display: flex;
	justify-content: center;
	margin-top: 10rem;
}

.product {
	width: clamp(20.4375rem, 95%, 69.375rem);
	display: flex;
}

.imgContainer {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 33.75rem;
	aspect-ratio: 1 / 1;
	border-radius: 0.5rem;
}

.productDesc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 27.8125rem;
}

.productDesc h2 {
	margin-bottom: 2rem;
}

.productDesc p {
	margin-bottom: 2.5rem;
	font-weight: 500;
	font-size: 0.9375rem;
	opacity: 0.5;
	font-style: normal;
	line-height: 1.5625rem;
}

@media screen and (max-width: 1024px) {
	.product {
		flex-direction: column;
	}

	.imgContainer {
		order: 0 !important;
		background-size: contain;
		background-color: var(--grey);
		height: 22rem;
	}

	.productDesc {
		order: 1 !important;
		margin: 0 !important;
		width: 100%;
		align-items: center;
		margin-top: 3.5rem !important;
	}

	.productDesc p,
	.productDesc h2 {
		text-align: center;
	}
}
